/* ------------------------------------------------------------------ */
/* CAICOM MAIN CSS 				  */
/* NOTE1: BODY, P, and TD attributes control the default page fonts	  */
/* NOTE2: Two spaces should appear after { and before }	for DW3 bug   */
/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
/* AUTOMATIC ATTRIBUTES */

A:link				{  text-decoration: underline; font-size: 11px; color: #003399  }
A:active			{  text-decoration: underline; font-size: 11px; color: #3399CC  }
A:visited			{  text-decoration: underline; font-size: 11px; color: #808080  }
A:hover				{  text-decoration: underline; font-size: 11px; color: #3399CC  }
BODY, P, TD			{  font-family: verdana, arial; font-size: 11px; font-weight: normal; color: #000000  }
H1 					{  font-family: verdana, arial; font-size: 18px; font-weight: bold  }
H2 					{  font-family: verdana, arial; font-size: 16px; font-weight: bold  }
H3 					{  font-family: verdana, arial; font-size: 14px; font-weight: bold  }
H4 					{  font-family: verdana, arial; font-size: 12px; font-weight: bold  }
OL 				{  font-size: 11px; }
UL				{  font-size: 11px; list-style: outside; list-style-type: square  }
UL UL				{  font-size: 11px; list-style: outside; list-style-type: square  } /* Special */
B					{  font-weight: bold  }
STRONG 				{  font-weight: bold  }
I 					{  font-style: italic  }
EM 					{  font-style: italic  }
INPUT		  		{  color: #003399; font-family: verdana, arial; font-size: 11px; } /* Special */
TEXTAREA			{  color: #003399; font-family: verdana, arial; font-size: 11px; } /* Special */
BLOCKQUOTE			{  font-size: 11px; }
PRE					{  font-family: "courier new", courier, monospace; font-size: 11px  }

/* ------------------------------------------------------------------ */
/* UNIQUE FONT ATTRIBUTES */

.head1 				{  font-family: verdana, arial; font-size: 18px; font-weight: bold   }
.head2				{  font-family: verdana, arial; font-size: 16px; font-weight: bold   }
.head3 				{  font-family: verdana, arial; font-size: 14px; font-weight: bold   }
.normal				{  font-family: verdana, arial; font-size: 11px; color: #000000  }
.legal 				{  font-size: 11px; color: #999999  }
.area 				{  font-family: verdana, arial; font-size: 12px; color: #006699; font-weight: bold  }
.featured 			{  font-family: verdana, arial; font-size: 11px; color: #333333; font-weight: bold  }
.copyright			{  font-size: 10px; color: #999999  }
.small 				{  font-size: 10px  }
.smallv				{  font-size: 11px; font-family: verdana, arial  }
.smallpress			{  font-size: 10px; font-family: verdana, arial; color: #006666  }
.smallgreen			{  font-size: 10px; font-family: verdana, arial; color: #CCFFCC; font-weight: bold }
.quote			{  font-size: 11px; font-family: verdana, arial; color: #003399 }
.jasmine			{  font-family: times new, times new roman; font-size: 11px; font-style: italic  }
.jasmineheader		{  font-family: times new, times new roman; font-size: 19px; font-style: italic; font-weight: bold  }
.shadegrey			{  background-color: #CCCCCC  }
.whitetext			{  color: #FFFFFF  }
.whitetextheader    {  color: #FFFFFF; font-family: arial; font-size: 12px; font-weight: bold }

.gray				{  font-family: arial, verdana; font-size: 12px; color: #666666  }
.aster				{  font-family: "courier new", courier, arial, helvetica; font-size: 16px; font-weight: normal; color: #000088  }
.dropdown  			{  color: #000088; font-family: arial, helvetica; font-size: 11px; }
.textingray			{  color: #FFFFFF; font-family: verdana; font-size: 11px; font-weight: bold  }

/* ------------------------------------------------------------------ */
/* UNIQUE HREF ATTRIBUTES */

a.nopast:link			{  text-decoration: underline; font-size: 11px; color: #003399  }
a.nopast:active			{  text-decoration: underline; font-size: 11px; color: #3399CC  }
a.nopast:visited		{  text-decoration: underline; font-size: 11px; color: #003399  }
a.nopast:hover			{  text-decoration: underline; font-size: 11px; color: #3399CC  }
a.nopastun:link			{  text-decoration: none; font-size: 11px; color: #003399  }
a.nopastun:active		{  text-decoration: none; font-size: 11px; color: #3399CC  }
a.nopastun:visited		{  text-decoration: none; font-size: 11px; color: #003399  }
a.nopastun:hover		{  text-decoration: none; font-size: 11px; color: #3399CC  }
a.bluev11:link			{  text-decoration: none; font-size: 11px; color: #006699  }
a.bluev11:active		{  text-decoration: none; font-size: 11px; color: #006699  }
a.bluev11:visited		{  text-decoration: none; font-size: 11px; color: #006699  }
a.bluev11:hover			{  text-decoration: none; font-size: 11px; color: #006699  }
a.nounderline:link		{  text-decoration: none; font-weight: bold  }
a.nounderline:active	{  text-decoration: none; font-weight: bold  }
a.nounderline:visited	{  text-decoration: none; font-weight: bold  }
a.nounderline:hover		{  text-decoration: none; font-weight: bold  }
a.minilinks:link		{  font-size: 10px; text-decoration: none; color: #006699  }
a.minilinks:active		{  font-size: 10px; text-decoration: none; color: #666666  }
a.minilinks:visited		{  font-size: 10px; text-decoration: none; color: #006699  }
a.minilinks:hover		{  font-size: 10px; text-decoration: underline; color: #006699  }
a.minilinks11:link		{  font-size: 11px; text-decoration: none; color: #006699  }
a.minilinks11:active		{  font-size: 11px; text-decoration: none; color: #666666  }
a.minilinks11:visited		{  font-size: 11px; text-decoration: none; color: #006699  }
a.minilinks11:hover		{  font-size: 11px; text-decoration: underline; color: #006699  }

/* ------------------------------------------------------------------ */
/* NAVBAR TOP AND BOTTOM ATTRIBUTES */

/* global nav */
a.fronttop:link		{  text-decoration: none; font-size: 10px; color: #FFFFFF  }
a.fronttop:active	{  text-decoration: none; font-size: 10px; color: #FFFFFF  }
a.fronttop:visited	{  text-decoration: none; font-size: 10px; color: #FFFFFF  }
a.fronttop:hover	{  text-decoration: none; font-size: 10px; color: #FFFFFF  }

a.frontmain:link	{  text-decoration: none; font-size: 10px; color: #CCFF99  }
a.frontmain:active	{  text-decoration: none; font-size: 10px; color: #CCFF99  }
a.frontmain:visited	{  text-decoration: none; font-size: 10px; color: #CCFF99  }
a.frontmain:hover	{  text-decoration: none; font-size: 10px; color: #FFFFFF  }

/* sub nav */
a.topsub:link			{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #333333  }
a.topsub:active			{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #333333  }
a.topsub:visited		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #333333  }
a.topsub:hover			{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #333333  }

a.topsubmain:link		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.topsubmain:active		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.topsubmain:visited	{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.topsubmain:hover		{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #006699  }

/* bot nav and copyright */
a.frontbot:link			{  text-decoration: none; font-size: 10px; color: #999999  }
a.frontbot:active		{  text-decoration: none; font-size: 10px; color: #666666  }
a.frontbot:visited		{  text-decoration: none; font-size: 10px; color: #999999  }
a.frontbot:hover		{  text-decoration: underline; font-size: 10px; color: #666666  }

a.botnav:link			{  text-decoration: none; font-size: 10px; color: #99CCCC  }
a.botnav:hover			{  text-decoration: none; font-size: 10px; color: #99CCCC  }
a.botnav:active			{  text-decoration: none; font-size: 10px; color: #99CCCC  }
a.botnav:visited		{  text-decoration: none; font-size: 10px; color: #99CCCC  }

/* ------------------------------------------------------------------ */
/* UPDATED NAVBAR TOP AND BOTTOM ATTRIBUTES */

a.globalnav:link		{  text-decoration: none; font-size: 10px; color: #FFFFFF  }
a.globalnav:active		{  text-decoration: none; font-size: 10px; color: #FFFFFF  }
a.globalnav:visited		{  text-decoration: none; font-size: 10px; color: #FFFFFF  }
a.globalnav:hover		{  text-decoration: none; font-size: 10px; color: #FFFFFF  }

a.globalnavon:link		{  text-decoration: none; font-size: 10px; color: #CCFF99  }
a.globalnavon:active	{  text-decoration: none; font-size: 10px; color: #CCFF99  }
a.globalnavon:visited	{  text-decoration: none; font-size: 10px; color: #CCFF99  }
a.globalnavon:hover		{  text-decoration: none; font-size: 10px; color: #FFFFFF  }

a.localnav:link			{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #333333  }
a.localnav:active		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #333333  }
a.localnav:visited		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #333333  }
a.localnav:hover		{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #333333  }

a.localnavon:link		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.localnavon:active		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.localnavon:visited	{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.localnavon:hover		{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #006699  }

a.footer:link			{  text-decoration: none; font-size: 10px; color: #999999  }
a.footer:active			{  text-decoration: none; font-size: 10px; color: #666666  }
a.footer:visited		{  text-decoration: none; font-size: 10px; color: #999999  }
a.footer:hover			{  text-decoration: underline; font-size: 10px; color: #666666  }

a.localnavlang:link			{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #333333  }
a.localnavlang:active		{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #333333  }
a.localnavlang:visited		{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #333333  }
a.localnavlang:hover		{  font-family: arial, verdana; text-decoration: underline; font-size: 10px; color: #333333  }

a.localnavlangon:link		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.localnavlangon:active		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.localnavlangon:visited	{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.localnavlangon:hover		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }

/* ------------------------------------------------------------------ */
/* PRODUCT/SOLUTION SUBAREA ATTRIBUTES */

a.news2:link		{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #000000  }
a.news2:active		{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #333333  }
a.news2:visited		{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #000000  }
a.news2:hover		{  text-decoration: underline; font-family: verdana, arial; font-size: 11px; color: #003399  }

a.black:link		{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #000000  }
a.black:active		{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #333333  }
a.black:visited		{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #000000  }
a.black:hover		{  text-decoration: underline; font-family: verdana, arial; font-size: 11px; color: #003399  }

a.blue:link			{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.blue:hover		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.blue:active		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }
a.blue:visited		{  font-family: arial, verdana; text-decoration: none; font-size: 10px; color: #006699  }

a.gray:link			{  font-family: arial, verdana; font-size: 12px; text-decoration: none; color: #666666  }
a.gray:hover		{  font-family: arial, verdana; font-size: 12px; text-decoration: none; color: #666666  }
a.gray:active		{  font-family: arial, verdana; font-size: 12px; text-decoration: none; color: #666666  }
a.gray:visited		{  font-family: arial, verdana; font-size: 12px; text-decoration: none; color: #666666  }

a.grayv:link		{  font-family: verdana, arial; font-size: 11px; text-decoration: none; color: #666666  }
a.grayv:hover		{  font-family: verdana, arial; font-size: 11px; text-decoration: none; color: #666666  }
a.grayv:active		{  font-family: verdana, arial; font-size: 11px; text-decoration: none; color: #666666  }
a.grayv:visited		{  font-family: verdana, arial; font-size: 11px; text-decoration: none; color: #666666  }

a.whiteheader:link		{  font-family: arial; font-size: 12px; text-decoration: none; color: #FFFFFF; font-weight: bold  }
a.whiteheader:hover		{  font-family: arial; font-size: 12px; text-decoration: none; color: #FFFFFF; font-weight: bold  }
a.whiteheader:active		{  font-family: arial; font-size: 12px; text-decoration: none; color: #FFFFFF; font-weight: bold  }
a.whiteheader:visited		{  font-family: arial; font-size: 12px; text-decoration: none; color: #FFFFFF; font-weight: bold  }

/* ------------------------------------------------------------------ */
/* NAVSIDEBOX ATTRIBUTES */

.snormal			{  font-size: 12px; text-decoration: none; color: #CCCCCC  }
.smallwhite			{  font-size: 10px; text-decoration: none; color: #FFFFFF  }
.smallgray			{  font-size: 10px; color: #333333  }
.sgroup				{  font-size: 12px; font-weight: bold; text-decoration: none; color: #FFFFFF  }
a.navtitle:link		{  font-size: 16px; font-weight: bold; text-decoration: none; color: #18345A  }
a.navtitle:visited	{  font-size: 16px; font-weight: bold; text-decoration: none; color: #18345A  }
a.navtitle:hover	{  font-size: 16px; font-weight: bold; text-decoration: none; color: #18345A  }
a.navtitle:active	{  font-size: 16px; font-weight: bold; text-decoration: none; color: #18345A  }
a.slinks:link		{  color: #CCCCCC; text-decoration: none  }
a.slinks:visited	{  color: #CCCCCC; text-decoration: none  }
a.slinks:hover		{  color: #CCCCCC; text-decoration: none  }
a.slinks:active		{  color: #CCCCCC; text-decoration: none  }
a.sgrouplink:link		{  text-decoration: none; font-size: 12px; font-weight: bold; color: #FFFFFF  }
a.sgrouplink:hover		{  text-decoration: none; font-size: 12px; font-weight: bold; color: #CCCCCC  }
a.sgrouplink:active		{  text-decoration: none; font-size: 12px; font-weight: bold; color: #CCCCCC  }
a.sgrouplink:visited	{  text-decoration: none; font-size: 12px; font-weight: bold; color: #FFFFFF  }

/* ------------------------------------------------------------------ */
/* HOMEPAGE ATTRIBUTES */

a.news:link		{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #FFFFFF  }
a.news:hover	{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #FFFFFF  }
a.news:active	{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #FFFFFF  }
a.news:visited	{  text-decoration: none; font-family: verdana, arial; font-size: 11px; color: #FFFFFF  }
a.frontside:link	{  text-decoration: none; font-size: 11px; color: #003366  }
a.frontside:hover	{  text-decoration: none; font-size: 11px; color: #003366  }
a.frontside:active	{  text-decoration: none; font-size: 11px; color: #333366  }
a.frontside:visited	{  text-decoration: none; font-size: 11px; color: #003366  }
a.white:link		{  text-decoration: none; font-size: 11px; color: #FFFFFF  }
a.white:hover		{  text-decoration: none; font-size: 11px; color: #D8D8D8  }
a.white:active		{  text-decoration: none; font-size: 11px; color: #336699  }
a.white:visited		{  text-decoration: none; font-size: 11px; color: #D8D8D8  }

/* ------------------------------------------------------------------ */
/* www3 site */
A.tickeralert:link {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: red;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none}
A.tickeralert:hover {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: #ff9933;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: underline}
A.tickeralert:active {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: red;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none}
A.tickeralert:visited {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: red;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none}
A.tickernormal:link {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: #006666;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none}
A.tickernormal:hover {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: #006666;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: underline}
A.tickernormal:active {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: #006666;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none}
A.tickernormal:visited {FONT-WEIGHT: bolder;FONT-SIZE: 10px;COLOR: #006666;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none}
/* ------------------------------------------------------------------ */
