body {  font-family: Arial; font-size: 11px}
td {  font-family: Arial; font-size: 11px}
ul {  list-style-type: square; list-style-position: outside}
.lightbg {  background-color: #D7E5EC}
.button {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #CCCCCC; font-weight: bold}
.linedup {  border: #CCCCCC solid}

.left_lined {  border-color: black black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px}
.leftright_lined {  border-color: #000000 #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.leftbottom_lined {  border-color: black black #CCCCCC #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 1px}
.bottom_lined {  border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.padleft {  padding-left: 10px}
.padleft20 {  padding-left: 20px}

.graytext {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333}
.grayquote {  font-family: Arial; font-size: 12px; color: #333333; font-weight: bold}
.redtext {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #CC0000}
.formtext {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; border-style: inset}
.subheader {  font-family: Arial; font-size: 13px; font-weight: bold; color: #000000}

.dotHR {
  border-top: 1px dashed #999999;
  height: 0px;
  width: 90%;
  clear: both;
}

.red_lined {width:97px;font-size:10px; border-color: #CC0000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

a {  font-family: Arial; font-size: 11px; color: #000000; text-decoration: none}
a:hover {  font-family: Arial; font-size: 11px; color: #CC0000; text-decoration: none}
a.blacktored {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 9px; color: #333333; text-decoration: none}
a.blacktored:hover {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 9px; color: #333333; text-decoration: underline}
a.graylink {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; text-decoration: underline}
a.graylink:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #CC0000; text-decoration: underline}
a.leftmenu {  font-family: Arial; font-size: 12px; color: #000000}
a.leftmenu:hover {  font-family: Arial; font-size: 12px; color: #CC0000}
a.redlink {  font-family: Arial; font-size: 11px; color: #CC0000}
a.redlink:hover {  font-family: Arial; font-size: 11px; color: #CC0000; text-decoration: underline}
a.redlinkbold {  font-family: Arial; font-size: 11px; color: #CC0000; text-decoration: underline; font-weight: bold}
a.redlinkbold:hover {  font-family: Arial; font-size: 11px; color: #CC0000; text-decoration: underline; font-weight: bold}
a.grayquotelink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1em; color: #333333}
a.grayquotelink:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1em; color: #CC0000}

INPUT.go {
width: 40px;
font:8px verdana;
color:white;
background-color: CC0000;
border:single CCCCCC;
border-width:1px 1px 1px 0px;
}

