body
{
	margin: 0px;
}

.pagebody {
margin-left: 1em;
}

.rate_this { 
font-size: 10px; 
font-family: arial, helvetica, sans-serif; 
}

.ts_header {
font-size: 13pt;
font-family: arial,helvetica,univers,zurich bt,sans-serifal;
}

.tslinks {
line-height: 17pt;
font-size: 9pt;
font-family: arial;
}

.middlelinks { 
font-weight: bold;
font-size: 10pt; 
font-family: geneva, arial, helvetica, swiss, sunsans-regular; 
}
 
.productversion { 
font-weight: bold; 
font-size: 14pt; 
font-family: geneva, arial, helvetica, sans-serif; 
}


.headlink2 { 
color: blue; 
font-weight: bold; 
font-size: 10pt; 
font-family: geneva, arial, helvetica, sans-serif 
}

.headlink3 
{ color: blue; 
font-weight: bold; 
font-size: 14pt; 
font-family: geneva, arial, helvetica, sans-serif; 
text-decoration: underline 
}

.paragraph { 
font-size: 10pt;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.paragraph-bold { 
font-size: 10pt;
font-weight: bold;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.paragraph-small { 
font-size: 9pt;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.paragraph-bold-white { 
font-size: 10pt;
font-weight: bold;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
color: white;
}

.alert {
font-size: 10pt;
color: #ff0000;
font-weight: bold;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.mysupport {
font-size: 9pt;
color: #999999;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.header-3 { 
font-size: 12pt;
font-weight: bold;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.form-checkbox-small { 
line-height: 15pt;
font-size: 8pt;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

LI { 
font-size: 10pt;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

TD { 
font-size: 10pt;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

TD.white_text { 
font-size: 10pt;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
color: white;
}

.links-17pt {
line-height: 17pt;
font-size: 11px;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.body-text {
font-size: 11px;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
}

.csm { 
font-size: 10px;
font-family: arial,helvetica,univers,zurich bt,sans-serif;
color: black;
text-decoration: none;
font-weight: bold;
}

.copyright
{
	font-size: 10px;
	font-family: Geneva,Arial,Helvetica,Sans-Serif;
}

.main_content_area
{
	margin: 25px 0px 1em 1em;
}

.main_content_area_enterprise
{
	margin: 10px 0px 1em 1em;
}

.stage_header_title
{
	font-size: small;
	/* 	font-family: Arial,Helvetica,Univers,Zurich BT,Sans-Serif; */
	margin: 0 0 0 -2px;
}

.stage_header_product
{
	font-size: small;
	/* 	font-family: Arial,Helvetica,Univers,Zurich BT,Sans-Serif; */
	margin-bottom: .5em;
}

TD.kb_header_large
{
	background-color: #FEE26A;
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 5;
	padding-right: 5;
	font-weight: bold;
	font-size: 10pt;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}
