BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
TABLE {
	FONT: 11px Verdana, Arial, Geneva, Helvetica, Sans-Serif
}
BODY {
	FONT: 11px Verdana, Arial, Geneva, Helvetica, Sans-Serif
}
TD {
	FONT: 11px Verdana, Arial, Geneva, Helvetica, Sans-Serif
}
.formatdropdown {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; WIDTH: 165px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, sans-serif
}
#topbar {
	BACKGROUND-IMAGE: url(/images/global.global.bg_top.jpg)
}
#topbar TD {
	BACKGROUND-IMAGE: url(/images/spacer.gif)
}
#topbarClear {
	BACKGROUND-IMAGE: url(/images/spacer.gif)
}
.utilitybar A {
	FONT-SIZE: 10px; COLOR: #990000; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
.utilitybar A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
.fix {
	TEXT-DECORATION: none
}
#navbar TD {
	BACKGROUND-IMAGE: url(/images/global.global.bg_navbar.jpg); HEIGHT: 26px; TEXT-ALIGN: center
}
#navbar A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333; TEXT-DECORATION: none
}
#navbar A:hover {
	COLOR: #999000000
}
#navbar .cap {
	BACKGROUND-COLOR: #fee069
}
#photorow {
	BACKGROUND: #666666
}
.clear {
	BACKGROUND-IMAGE: url(/images/spacer.gif)
}
#inforow {
	BACKGROUND: #ffcc00
}
.dottedvert {
	BACKGROUND-IMAGE: url(/images/global.global.dotted_vert.gif); BACKGROUND-REPEAT: repeat-y
}
.dottedhorz {
	BACKGROUND-IMAGE: url(/images/global.global.dotted_horz.gif); BACKGROUND-REPEAT: repeat-x
}
.date {
	FONT-SIZE: 10px
}
.ir B {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333
}
.irg B {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333
}
.ir TD {
	LINE-HEIGHT: 15px
}
.ir {
	FONT-SIZE: 11px; COLOR: #000
}
.irg {
	FONT-SIZE: 11px; COLOR: #000
}
.ir A {
	COLOR: #990000
}
.irg A {
	COLOR: #333
}
.spacer {
	FONT: 2px/2px san-serif
}
.purchase { font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px; LINE-HEIGHT: 14px; text-decoration: none
}
.alert TD {
	FONT-SIZE: 10px
; color: #999000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal
}
.shadow {
	BACKGROUND-IMAGE: url(/images/global.global.footer_shade.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
.footer TD {
	FONT-SIZE: 10px
}
.footer A {
	COLOR: #990000; TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
.promotext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9.5px; line-height: 15px; font-weight: normal; color: #000000}
.threats A {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; font-weight: bold; color: #990000; text-decoration: none}
.threats A:hover { color: #990000; text-decoration: underline }

.alert-title A { font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #990000; TEXT-DECORATION: none}
.alert-title A:hover { COLOR: #990000; TEXT-DECORATION: underline }

.shoplinks A { font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990000; TEXT-DECORATION: none}

.shoplinks A:hover { COLOR: #999000000; TEXT-DECORATION: underline }

.purchaselink A { font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px; LINE-HEIGHT: 14px; text-decoration: none; COLOR: #999000000
}
.purchaselink A:hover { text-decoration: underline; COLOR: #990000
}
.moduleheader A { font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 14px; font-weight: bold; text-decoration: none; COLOR: #000000
}
.moduleheader A:hover { text-decoration: underline; COLOR: #999000000
}
.titleheader { font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 14px; font-weight: bold; text-decoration: none; COLOR: #000000
}
.highrisk {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}

.secresptitles A {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; COLOR:black; text-decoration: none;}
.secresptitles A:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: underline; COLOR: #990000;}
