.dropdownlink {
	FONT-SIZE: 10pt; COLOR: #000; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular
}
.headline3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: geneva, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.headlink2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, sans-serif
}
.headlink3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.leftnavlink {
	COLOR: black
}
.link {
	FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular; TEXT-DECORATION: underline
}
.magellandiv {
	MARGIN-BOTTOM: 3px
}
.paragraph {
	FONT-SIZE: 10pt; FONT-FAMILY: geneva, arial, helvetica, sans-serif
}
.paragraphsmall {
	FONT-SIZE: 8pt; FONT-FAMILY: geneva, arial, helvetica, sans-serif
}
.sidebartext {
	FONT-SIZE: 8pt; COLOR: #000; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular
}
.sidebartitlelink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: geneva, arial, helvetica, swiss, sunsans-regular; TEXT-DECORATION: underline
}
