P {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, geneva, swiss, sunsans-regular
}
P.small {
	FONT-SIZE: 9pt
}
.tiny {
	FONT-SIZE: 8pt
}
DL {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, geneva, swiss, sunsans-regular
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, geneva, swiss, sunsans-regular
}
OL {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, geneva, swiss, sunsans-regular
}
H1 {
	FONT-SIZE: 14pt; FONT-FAMILY: arial, helvetica, geneva, swiss, sunsans-regular
}
A.clean {
	COLOR: blue; TEXT-DECORATION: none
}
