<!--
body,th,td,p,div,span,li,ul,ol,a,input,select,textarea,form,Xdl{font-family:verdana,helvetica,sans-serif;color:#000;}
body,th,td,p,div,span,li,ul,ol{font-size:11px;color:#333;}

body {margin:8;background-color:#fff;}
.small-text{font-size:10px;}

a.small-text-white{font-size:10px;color:#fff;text-decoration:none;font-weight:bold;}
a.small-text-white:hover, a.small-text-white:active{font-size:10px;color:#fff;text-decoration:none;font-weight:bold;}
a.small-text-white:visited{font-size:10px;color:#fff;text-decoration:none;font-weight:bold;}


a {color:#000;}
a:hover, a:active {text-decoration:underline;color:#f20000;}
a:visited {color:#737373;}
a:active {color:#f33;}
input {background-color:#fff;}

/* DOESN'T WORK IN NS6 */
.vert2 {font-size:2px;}
.vert3 {font-size:3px;}
.vert4 {font-size:4px;}
.vert5 {font-size:5px;}
.vert6 {font-size:6px;}
.vert7 {font-size:7px;}

#fap {font-size:11px;background:#e6e6e6;color:#666;margin:4 3 0 0;}

.ln1 {font-size:11px;color:#000;}
.ln1 a, .ln1 a:link, .ln1 a:visited {text-decoration:none;color:#000;}
.ln1-on {font-size:11px; color:#f00}

.ln2, .ln2-on {font-size:10px;color:#000;}
.ln2-on {color:#f00;}

.rn1, .rp1 {font-size:11px;font-weight:bold;}
.rn1 {background-color:#d9d9d9;color:#000;}
.rp1 {background-color:#720000;color:#fff;}

.rn2-carat {background-color: #fff;}
.rn2, .rn2-on {font-size:10px;color:#000;background-color:#fff;}
.rp2 {font-size:10px;color:#000;}
.rn2-on {color:#f00;}

.ln2 a, .ln2 a:link, .ln2 a:visited, .rn2 a, .rn2 a:link, .rn2 a:visited, .rp2 a, .rp2 a:link, .rp2 a:visited {font-size:10px;text-decoration:none;color:#000;}
.ln1 a:hover, .ln2 a:hover, .rn2 a:hover, .rp2 a:hover {text-decoration:underline;color:#f20000;}
.ln1 a:active, .ln2 a:active, .rn2 a:active, .rp2 a:active {text-decoration:underline;color:#f33;}

#bc {font-size:10px;}
#bc a, #bc a:link {font-size:10px;color:#808080;}
#bc a:hover {color:#f20000;}
#bc a:active {color:#f33;}
#bc-curr {font-size:10px;color:#f20000}

.pretext {font-size:10px;margin-bottom:3;}
#page-title, #page-title-wide {margin-bottom:10;}
#page-title-text {font-size:20px;line-height:21px;color:#f20000;}
#page-subtitle {font-size:12px;font-weight:bold;line-height:14px;color:#333;}
.undertitle {margin-top:2;line-height:14px;}s
.title-reg {font-size:12px;}

#main-content{line-height:14px;}

.mkt-banner {margin:25 1 15 5;}

.section-head-sm, .section-head-sm-red, .section-head-sm-dkred {font-weight:bold;margin-bottom:4;}
h1, h2, h3, h4, h5, h6, .section-head-lg, .section-head-lg-red {font-size:13px;font-weight:bold;margin-bottom:3;}
.section-head-lg-yellow {font-size:13px;font-weight:bold;margin-bottom:3;color:ffcc00}
.section-head-lg, .section-head-sm {color:#333333;}
h1, h2, h3, h4, h5, h6, .section-head-lg-red, .section-head-sm-red {color:#f20000;}
.section-head-sm-dkred {color:#8c0000;}
.txt-gray {color:#808080;}

.product-list {margin:14 0 5 72;}
.product-name {font-size:13px;font-weight:bold;}
.product-price {font-size:13px;font-weight:bold;color:#f20000;margin-bottom:3;}

.hor-line {width:385;border-bottom:1 #bebebe solid;margin-bottom:9;}
.hor-dotted-line {border-bottom:1 #757575 dotted;margin-bottom:9;}
.hor-space {width:385;margin-bottom:9;}

.f-li {marginn-top:2;}
.carat-li {margin-top:5;}
.carat-down-li, .carat-up-li {margin-top:3;}
.carat-down-li, .carat-up-li {font-size:10px;}
.icon-li {margin-top:5;}

.ct-coltitle, .ct-coltitle-on, .ct-rowtitle, .ct-cell, .ct-cell-on, .ct-cell-bold {font-size:10px;}
.ct-coltitle2, .ct-cell2 {font-size:11px;}
.ct-coltitle, .ct-coltitle2, .ct-coltitle-on, .ct-rowtitle {background-color:#f3f3f3;}

.ct-coltitle-on, .ct-cell-on {color:#f20000;font-weight:bold;}
.ct-cell {color:#333;}

.pu-question {text-align:left;background-color:#e5e5e5;border-bottom:1 solid #979797;margin-bottom:8;}
.pu-answers {margin:0 0 0 11;}

.sr {line-height:15px;margin-top:15;}
.sr-url {color:#808080;}
.sr-curr-page {color:#f20000;font-weight:bold;}

.ec-date {color:#474747;}

.si-tab, .si-tab-on {margin:3 10 4 9;font-weight:bold;}
.si-tab-on {color:#f20000;}
.si-tab, .si-tab a {color:#8c0000;text-decoration:none;}
.si-col-head, .si-col-head-sort {text-align:left;font-weight:bold;background-color:#f3f3f3;color:#474747;}
.si-col-head-sort {background-color:#ccc;}
.si-col-head a, .si-col-head-sort a {text-decoration:none;}
.si-cell {background-color:#fefefe;color:#474747;}

.pulled-quote {background-color:#f3f3f3;border-color:#bebebe;border-width:1;border-style:solid;padding:8;}
.pulled-quote .byline {font-weight:bold;}
.screenshot {float:right;}
.toolbar {margin:6 0 5 0;}

div.portlettitleyellowbackground{color:000000;font-weight:bold;padding:1 0 1 3;font-size:12px;}
div.portlettitleredbackground{color:FFFFFF;font-weight:bold;padding:1 0 1 3;font-size:12px;}
//-->