@import url("/Css/stylesidpro.css");

.degradmenu {
	background-repeat: repeat-y;
	background-color: #0061c1;
}
a:link {
	color:#006699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 9px;




}
a:visited {
	color:#FF6666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 9px;


}
a:active {
	color:#006666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 9px;



}
a:hover {
	color:#006666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 9px;



}.imageinfd {  background-attachment: fixed; background-repeat: no-repeat; background-position: right top}
.menuGtitre {
	background-repeat: repeat-y;
	background-color: #0061C1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	border: 2px solid #99CCFF;
	text-align: center;



}
.menulines {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	background-color: #CCCCCC;
	background-repeat: no-repeat;




}
.menuGlineP {
	background-color: #CCCCCC;
}
.MenuHtitre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
.Texte1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
}
.imageformation {
background-attachment: fixed; background-image:  url(../images/page/formation.jpg); background-repeat: no-repeat; background-position: center center
}
.Titre1Bleu {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000099;
}
.Titre1Vert {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #009933;
}
.imagebourse {


background-attachment: fixed; background-image:  url(../images/page/bourse.jpg); background-repeat: no-repeat; background-position: center center
}
.Titre1Rouge {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC0033;
}
.imagesupport {

background-attachment: fixed; background-image:  url(../images/page/lumi%E8re.jpg); background-repeat: no-repeat; background-position: center center
}
.imagepresse {

background-attachment: fixed; background-image:  url(../images/page/Presse.jpg); background-repeat: no-repeat; background-position: center center
}
.Texte2 {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.Titre1Noir {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.imagecadenas {

background-attachment: fixed; background-image:  url(../images/page/cadenas.jpg); background-repeat: no-repeat; background-position: center center
}
.lien {
	color: #003366;
}
.Texte1Gras {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
