.dropdownlink { color: #000; font-size: 10pt; font-family: geneva, arial, helvetica, swiss, sunsans-regular }
.headline3 { font-weight: bold; font-size: 14pt; font-family: geneva, arial, helvetica, sans-serif; text-decoration: underline }
.headlink2 { color: blue; font-weight: bold; font-size: 10pt; font-family: geneva, arial, helvetica, sans-serif }
.headlink3 { color: blue; font-weight: bold; font-size: 14pt; font-family: geneva, arial, helvetica, sans-serif; text-decoration: underline }
.leftnavlink { color: black }
.link { color: blue; font-size: 10pt; font-family: geneva, arial, helvetica, swiss, sunsans-regular; text-decoration: underline }
.magellandiv { margin-bottom: 3 }
.paragraph { font-size: 10pt; font-family: geneva, arial, helvetica, sans-serif }
.paragraphsmall { font-size: 8pt; font-family: geneva, arial, helvetica, sans-serif }
.sidebartext { color: #000; font-size: 8pt; font-family: geneva, arial, helvetica, swiss, sunsans-regular }
.sidebartitlelink { color: blue; font-weight: bold; font-size: 10pt; font-family: geneva, arial, helvetica, swiss, sunsans-regular; text-decoration: underline }-->
