P {
 font-family	: arial, helvetica, geneva, swiss, sunsans-regular;
 font-size		: 10pt;
}

P.small {
 font-size		: 9pt;
}

.tiny {
 font-size		: 8pt;
}

DL,UL,OL {
 font-family	: arial, helvetica, geneva, swiss, sunsans-regular;
 font-size		: 10pt;
}

H1 {
 font-family	: arial, helvetica, geneva, swiss, sunsans-regular;
 font-size		: 14pt;
}

A.clean {
 color			: blue;
 text-decoration: none;
}